.button {
    background-color: $blue;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    line-height: 1;
    padding: $s-size $s-size;
    text-decoration: none;
}

.button__secondary {
    @extend .button;
    background-color: #888888;
}