.header {
    background-color: $dark-blue;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $l-size 0;

    button {
        font-weight: bold;
        text-align: center;
    }
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 4rem;
        margin: 0;
    }
}

.header__btn-group {
    display: flex;
    justify-content: space-between;

    * {
        margin-right: $s-size;
    }
}

button:hover {
    i {
        color: yellow;
    }
}