.table-container {
    background-color: white;
    border-radius: 5px;
    height: 65vh;
    margin: $m-size;
    width: 60%;
    overflow-y: scroll;
}

.table {
    font-size: $s-size;
    height: 65vh;
}

.table__header {
    text-align: center;
}

.table__cell {
    cursor: pointer;
    font-size: $m-size;
    margin-right: $s-size;
    text-align: center;
}