.pointers-table-component {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: $l-size;
    padding: $l-size;
    width: 96vw;

    table {
        font-size: $font-size-small;
        width: 90vw !important;
    }

    select, input {
        font-size: $font-size-large;
        display: flex;
        width: 15em;
    }
}