.top-performers {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: $l-size;
    padding: $l-size $l-size;
    text-transform: capitalize;
    width: 96vw;
}

.top-performers__title {
    font-weight: 700;
}

.top-performers__card {
    padding: $s-size;
    margin-right: 0 !important;
    text-align: center;
}