* {
    box-sizing: border-box  !important;
}

html {
    font-size: 62.5%  !important;
}

body {
    background-color: whitesmoke  !important;
    color: $dark-gray  !important;
    font-family: 'Quicksand', sans-serif  !important;
    font-size: $m-size  !important;
    line-height: 1.6em  !important;
}

h1 {
    font-weight: 500  !important;
}

button {
    cursor: pointer  !important;
}

button:disabled {
    cursor: default  !important;
}

.is-active {
    font-weight: bold  !important;
}